.form-control > .cms-content-tools {
    margin: -6px -12px;
}

.form-control > .cms-content-tools {
    height: 500px;
}

.form-control > .cms-content-tools > header {
    display: none;
}

.form-control > .cms-content-tools.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    background: #ccc;
}

.form-control > .cms-content-tools.fullscreen > header {
    display: block;
    background: #f8f9fa;
    padding: 0 30px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.form-control > .cms-content-tools.fullscreen > header .pull-left {
    padding: 10px 0;
}

.form-control > .cms-content-tools.fullscreen > header .btn-group-toggle label {
    text-decoration: none;
    padding: 18px 20px 15px;
    box-shadow: none;
}

.form-control > .cms-content-tools.fullscreen > header .btn-group-toggle .btn {
    border-radius: 0;
}

.form-control > .cms-content-tools.fullscreen > header .btn-group-toggle .btn.active {
    border-top: 3px solid #0747A8;
    padding-top: 15px;
    color: #0747A8;
    font-weight: bold;
}

.form-control > .cms-content-tools iframe {
    border: 1px solid #eaeaea;
    margin: auto;
    display: block;
    position: relative;
}

.ace_editor {
    width: 100%;
    height: 100%;
}

/* iframe content */

.cms-content-live-edit {
    padding-bottom: 50px;
}

.cms-content-live-edit .cms-hidden-area {
    display: block;
    opacity: 0.66;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #ececec 10px,
        #ececec 20px
    );
}

.cms-content-live-edit .cms-hidden-area::before {
    content: 'Cette zone n\'est visible qu\'en cliquant sur : "' attr(data-parent-label) '"';
    display: inline-block;
    width: 100%;
    padding: 25px 0 10px;
    text-align: center;
    font-style: italic;
}

.form-control.krg-cms-form-control {
    height: auto;
}

.w-50 {
    width: 50px;
}
