.hidden-f {
    display: none !important;
}

.navbar-collapse.collapse.hidden-f {
    display: none !important;
}

#props-wrapper {
    padding: 15px;
    border-radius: 3px;
    background: #fff;
}

#filter_form iframe {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 20px;
}

.label-empty {
    display: none;
}

/* */

.form-group textarea.form-control {
    min-height: auto;
}

.krg-separator {
    margin: 0 5px 23px;
    height: 10px;
    border-bottom: 1px dashed #cdcdcd;
    text-align: center;
}

.krg-separator .krg-separator-text {
    font-size: 16px;
    background-color: #ffffff;
    padding: 0 10px;
    text-transform: uppercase;
    color: #b5b5b5;
}

/* */

#krg-toolbar,
#krg-toolbar-mini {
    display: none !important;
}

.form-control > .cms-content-tools {
}

.form-control > .cms-content-tools > header {
    display: none;
}

.form-control > .cms-content-tools.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    height: 100% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    background: #ccc;
}

.form-control > .cms-content-tools.fullscreen > header {
    display: block;
    background: #f8f9fa;
    padding: 0 30px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.form-control > .cms-content-tools.fullscreen > header .pull-left {
    padding: 10px 0;
}

.form-control > .cms-content-tools.fullscreen > header .btn-group-toggle label {
    text-decoration: none;
    padding: 18px 20px 15px;
    box-shadow: none;
}

.form-control > .cms-content-tools.fullscreen > header .btn-group-toggle .btn {
    border-radius: 0;
}

.form-control > .cms-content-tools.fullscreen > header .btn-group-toggle .btn.active {
    border-top: 3px solid #0747A8;
    padding-top: 15px;
    color: #0747A8;
    font-weight: bold;
}

.form-control > .cms-content-tools iframe {
    border: 0;
    margin: auto;
    display: block;
    position: relative;
}

.ace_editor {
    width: 100%;
    height: 100%;
}

/* iframe content */

.cms-content-live-edit {
    padding-bottom: 50px;
}

.cms-content-live-edit .cms-hidden-area {
    display: block;
    opacity: 0.66;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #ececec 10px,
        #ececec 20px
    );
}

.cms-content-live-edit .cms-hidden-area::before {
    content: 'Cette zone n\'est visible qu\'en cliquant sur : "' attr(data-parent-label) '"';
    display: inline-block;
    width: 100%;
    padding: 25px 0 10px;
    text-align: center;
    font-style: italic;
}

.form-control.krg-cms-form-control {
    height: auto;
}

.w-50 {
    width: 50px;
}

.box h3.box-title {
    font-size: 19px;
}

.box-splitted .box-body {
    padding: 15px 15px 14px;
}

.box-splitted h3.box-title {
    margin: 6px 0 0;
}

.btn-group .btn-default {
    background: #dedede;
    outline: none !important;
    opacity: 0.4;
    transition: all 250ms ease;
}

.btn-group .btn-default.active,
.btn-group .btn-default:active,
.btn-group .btn-default.active.focus,
.btn-group .btn-default.active:focus,
.btn-group .btn-default.active:hover,
.btn-group .btn-default:active.focus,
.btn-group .btn-default:active:focus,
.btn-group .btn-default:active:hover {
    opacity: 1;
    color: #333;
    background-color: #fff;
    border-color: #ebebeb;
    box-shadow: none;
}

iframe.html_content_iframe a, button[type=submit], input[type=submit] {
    pointer-events: none;
}

iframe.html_content_iframe #divCb a, #divCb button[type=submit], #divCb input[type=submit] {
    pointer-events: initial;
}
