<div id="seo-top-panel-wrapper">
    {% if seo is defined and seo %}
        {% if seo.seoPage is null %}
            <a href="{{ path('easyadmin') }}?entity=Seo&action=edit&id={{ seo.id }}" class="btn">Edit SEO</a>
        {% endif %}
    {% endif %}
</div>

<style>
    #seo-top-panel-wrapper {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: fixed;
        bottom: 50px;
        left: 10px;
        z-index: 10000;
        width: 30%;
        color: #111111;
    }

    #seo-top-panel-wrapper .btn {
        color: #fff;
        background: #222222;
        border-radius: 30px;
        font-weight:normal;
        text-decoration: none;
        padding: 10px 40px;
        text-align: center;
    }
</style>
