{% spaceless %}
    {% if metaTitle is defined and metaTitle %}
        <title>{{ metaTitle }}</title>
    {% endif %}
    {% if metaDescription is defined and metaDescription %}
        <meta name="description" content="{{ metaDescription }}"/>
    {% endif %}
{% endspaceless %}
