@import url('icons/css/fontello.css');
@import url('icons/css/animation.css');

/* Content Builder */

.empty {
    border: rgba(0, 0, 0, .25) 1px dashed;
}

.drop-zone.empty {
    background: #efefef;
}

.block-placeholder {
    height: 15px;
    background: rgba(225, 225, 225, 1);
}

.ui-draggable {
    position: relative;
}

.ui-dragbox {
    z-index: 1;
    -webkit-box-shadow: inset 11px 0 0 -6px rgba(224, 224, 224, 1);
    -moz-box-shadow: inset 11px 0 0 -6px rgba(224, 224, 224, 1);
    box-shadow: inset 11px 0 0 -6px rgba(224, 224, 224, 1);
}

.ui-dragbox-outlined > div:first-child {
    z-index: 1;
    outline: rgba(228, 156, 90, .5) solid 1px;
}

.ui-dragbox-outlined.firefox > div:first-child {
    z-index: 1;
    outline: 1px dotted rgba(113, 54, 0, .5);
}

.ui-dragbox-outlined.code > div:first-child {
    outline: rgba(171, 171, 171, .5) solid 1px;
}

.ui-dragbox-outlined.code.firefox > div:first-child {
    outline: 1px dotted rgba(171, 171, 171, .5);
}

.dynamic {
    width: 150px !important;
    height: 60px !important;
    border: rgba(225, 225, 225, .9) 5px solid !important;
    background: transparent !important;
}

#infoSource {
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 20px;
    letter-spacing: 1px;
    background: #f1f1f1;
}

.row-tool {
    font-size: 15px;
    position: absolute;
    z-index: 20;
    top: 15px;
    left: 0 !important;
    display: none;
    width: 30px;
    color: rgba(200, 200, 200, .8);
}

.row-handle {
    line-height: 30px;
    width: 30px;
    height: 30px;
    cursor: move;
    text-align: center;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(175, 206, 1);
}

.row-html {
    line-height: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: rgb(0, 172, 214);
}

.row-html.row-module {
    background: rgb(255, 152, 0);
}

.row-copy {
    line-height: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: rgb(77, 77, 77);
}

.row-remove {
    font-size: 15px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(247, 99, 46);
}

.row-handle *,
.row-html *,
.row-copy *,
.row-remove * {
    color: #fff !important;
}

#divTool {
    position: fixed;
    z-index: 10001;
    top: 0;
    right: -300px;
    box-sizing: border-box;
    width: 270px;
    height: 100%;
    padding: 13px;
    color: #fff;
    background-color: #262b35;
}

#lnkToolOpen {
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1;
    position: absolute;
    top: 100px;
    left: -30px;
    box-sizing: border-box;
    width: 30px;
    margin: 0;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-right: none;
    background: #262b35;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#lnkToolOpen.leftside {
    right: -30px;
    left: auto;
    border-left: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#divSnippetList {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    border-bottom: rgba(0, 0, 0, 0) 15px solid;
}

#divSnippetList div {
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
    cursor: move;
    border-radius: 5px;
    background: #acacac;
}

#divSnippetList div:hover img {
    transition: all .2s ease-in-out;
    opacity: .5;
}

#divSnippetList div img {
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

#divSnippetList::-webkit-scrollbar {
    width: 0;
}

.dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 25px 2px 0;
    -webkit-animation: jump 1.5s linear infinite;
    border-radius: 50%;
    background-color: #ff6700;
}

@-webkit-keyframes jump {
    0%,
    100% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0px);
    }
}

.dot:nth-of-type(2) {
    -webkit-animation-delay: .2s;
}

.dot:nth-of-type(3) {
    -webkit-animation-delay: .4s;
}

:focus {
    outline: none;
}

.row > * {
    min-height: 30px;
}

#rte-toolbar {
    position: fixed;
    z-index: 9999;
    top: 20px;
    left: calc((100% - 724px) / 2);
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 1;
    border: #ababab 1px solid;
    border-radius: 4px;
    background: rgb(252, 252, 252);
    -moz-box-shadow: none;
    box-shadow: none;
    webkit-box-shadow: none;
}

#rte-toolbar .rte-draggable {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 6px;
    height: 43px;
    margin-left: 1px;
    cursor: move;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(255, 255, 255, .95);
}

#rte-toolbar.rte-side .rte-draggable {
    width: 47px;
    height: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(255, 255, 255, .95);
}

#rte-toolbar .rte-draggable i {
    display: none;
}

#rte-toolbar.rte-side {
    top: calc((100% - 600px) / 2);
    left: 45px;
    width: 50px;
}

#rte-toolbar.rte-side.right {
    right: 10px;
    left: auto;
}

#rte-toolbar.rte-side > .rte-draggable > i {
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    top: 2px;
    left: 15px;
    margin: 0;
    color: #333;
}

#rte-toolbar .rte-draggable {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#rte-toolbar.rte-side .rte-draggable {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#rte-toolbar button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#rte-toolbar.rte-side button:last-child {
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#rte-toolbar button {
    font-size: 12px;
    line-height: 1.6;
    display: inline-block;
    box-sizing: border-box;
    width: 48px;
    margin: 0;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .95) /*rgba(224, 224, 224, 0.95)*/;
    -o-user-select: none;
}

#rte-toolbar.rte-side button {
    padding: 10px 12px;
}

#rte-toolbar button:hover {
    background-color: #eee;
}

.rte-pop {
    position: fixed;
    z-index: 1000;
    display: none;
    border: #b5b5b5 1px solid;
    border-radius: 5px;
    background: #fff;
}

.rte-pop:after,
.rte-pop:before {
    position: absolute;
    top: 20px;
    right: 100%;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
}

.rte-pop:after {
    margin-top: -7px;
    border-width: 7px;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
}

.rte-pop:before {
    margin-top: -8px;
    border-width: 8px;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #8a8a8a;
}

.rte-pop.arrow-right:after,
.rte-pop.arrow-right:before {
    position: absolute;
    top: 20px;
    left: 100%;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
}

.rte-pop.arrow-right:after {
    margin-top: -7px;
    border-width: 7px;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
}

.rte-pop.arrow-right:before {
    margin-top: -8px;
    border-width: 8px;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #8a8a8a;
}

.rte-pop.arrow-top:after,
.rte-pop.arrow-top:before {
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 20px;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
}

.rte-pop.arrow-top:after {
    margin-left: -7px;
    border-width: 7px;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
}

.rte-pop.arrow-top:before {
    margin-left: -8px;
    border-width: 8px;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #8a8a8a;
}

.rte-pop button {
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    box-sizing: border-box;
    width: 48px;
    margin: 0;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .95);
    -o-user-select: none;
}

.rte-pop.rte-side button {
    line-height: 1.6;
    padding: 10px 12px;
}

.rte-pop button:hover {
    background-color: #eee;
}

#pop-align {
    top: 73px;
    width: 192px;
    height: 44px;
}

#pop-align.rte-side {
    width: 48px;
    height: auto;
}

#pop-list {
    top: 73px;
    width: 192px;
    height: 44px;
}

#pop-list.rte-side {
    width: 48px;
    height: auto;
}

#pop-formatting {
    top: 73px;
    width: 240px;
    height: 44px;
}

#pop-formatting.rte-side {
    width: 48px;
    height: auto;
}

#pop-textsettings,
#pop-fontfamily,
#pop-headings,
#pop-colors,
#pop-table {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 2.7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 180px;
    height: 190px;
    padding: 0 15px;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: .95;
    border-radius: 5px;
}

#pop-textsettings {
    width: 180px;
    height: 213px;
}

#pop-textsettings span {
    font-size: 12px;
    text-transform: none;
}

#pop-textsettings > div {
    margin: 12px 0;
}

#pop-fontfamily {
    width: 180px;
    height: 213px;
    padding: 0 0;
}

#pop-headings {
    width: 180px;
    height: 213px;
    padding: 0 0;
}

#pop-colors {
    width: 263px;
    height: 270px;
    padding: 0 0;
}

.cust_colors {
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    white-space: nowrap;
    border-right: rgba(165, 165, 165, .5) 1px solid;
    border-bottom: rgba(165, 165, 165, .5) 1px solid;
    border-left: rgba(165, 165, 165, .5) 1px solid;
    border-radius: 4px;
}

#btnResetTextSettings {
    margin-left: -4px;
    cursor: pointer;
}

#pop-table {
    width: 211px;
    height: 196px;
    padding: 0 0;
}

#ifrHeadings {
    width: 100%;
    height: 211px;
    border: none;
    border-radius: 5px;
}

#ifrFonts {
    width: 100%;
    height: 211px;
    border: none;
    border-radius: 5px;
}

#pop-align button:first-child,
#pop-list button:first-child,
#pop-formatting button:first-child {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#pop-align button:last-child,
#pop-list button:last-child,
#pop-formatting button:last-child {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#pop-align.rte-side button:first-child,
#pop-list.rte-side button:first-child,
#pop-formatting.rte-side button:first-child {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#pop-align.rte-side button:last-child,
#pop-list.rte-side button:last-child,
#pop-formatting.rte-side button:last-child {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#divRteLink {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 35px;
    position: absolute;
    z-index: 1000;
    display: none;
    height: 33px;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: .9;
    color: #fff;
    border: #b7def3 0 solid;
    border-radius: 3px;
    background: #1aa3ff;
}

#divRteLink.forceshow {
    display: block !important;
}

#divFrameLink {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 22px;
    position: absolute;
    z-index: 1000;
    display: none;
    width: 67px;
    height: 22px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    opacity: .9;
    color: #fff;
    border: #b7def3 0 solid;
    border-radius: 3px;
    background: #1aa3ff;
}

#divRteTable {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 60px;
    height: 30px;
    padding: 0;
}

#divRteTable #btnEditTable {
    font-size: 13px;
    float: left;
    box-sizing: border-box;
    width: 30px;
    height: 100%;
    margin: 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #f7a82e;
}

#divRteTable #btnDeleteTable {
    font-size: 14px;
    float: left;
    box-sizing: border-box;
    width: 30px;
    height: 100%;
    margin: 0;
    padding: 0 2px 0 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #f7632e;
}

#divRteHtml {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100px;
    height: 35px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

#divRteHtml #lnkRteHtml {
    font-size: 12px;
    line-height: 27px;
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    text-align: center;
    opacity: .9;
    color: #fff;
    border: #fff 0 solid;
    border-radius: 3px;
    background: #000;
}

@media (max-width: 600px) {
    #rte-toolbar {
        display: none !important;
    }
}

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

div.fakefile img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#img-file {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
}

#divUploadImg {
    position: absolute;
    z-index: 15;
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    opacity: .95;
    border-radius: 50px;
    background: #2a2a2a;
}

#divUploadImg i {
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

input.my-file {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
}

#divToolImg {
    position: absolute;
    z-index: 10000;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    opacity: .8;
    border-radius: 4px;
    background: rgba(0, 163, 204, .9);
}

#divToolImg #lnkEditImage {
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

#divToolImgSettings {
    position: absolute;
    z-index: 10000;
    display: none;
    width: 30px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

#divToolImgSettings #lnkImageSettings {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    opacity: .8;
    color: #fff;
    border-radius: 4px;
    background: rgba(233, 84, 0, .9);
}

#divToolImgLoader {
    position: absolute;
    z-index: 10000;
    display: none;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -15px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    opacity: .8;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0);
}

#divToolImgLoader #lnkImageLoader {
    font-size: 30px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    color: rgba(0, 163, 204, 1);
}

#img-control button,
#btnChangeImage,
#btnImageMoreOk {
    font-family: Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 0;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 1px;
    color: #333;
    border: 1px solid transparent;
    border-radius: 3px;
    background-image: none;
    -o-user-select: none;
}

#btnChangeImage,
#btnImageMoreOk {
    padding-right: 4px;
    color: #fff !important;
    background-color: rgba(0, 163, 204, .8);
}

#btnImageMoreOk {
    width: 120px;
    height: 35px;
    margin-top: 10px;
}

#divImageMore {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(62, 62, 62, .3);
}

#divImageMore label {
    display: inline;
}

.rangeslider,
.rangeslider__fill {
    display: block;
    width: 100%;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #e6e6e6;
    -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, .25), inset 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, .25), inset 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(255, 255, 255, .25), inset 0 1px 3px rgba(0, 0, 0, .3);
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rangeslider {
    position: relative;
}

.rangeslider--disabled {
    opacity: .4;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

.rangeslider__fill {
    position: absolute;
    top: 0;
    background: #ccc;
}

.rangeslider__handle {
    position: absolute;
    top: -5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rangeslider__handle:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    margin: auto;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#divCb input[type='range']:focus + .rangeslider .rangeslider__handle {
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, .9);
    -moz-box-shadow: 0 0 8px rgba(255, 0, 255, .9);
    box-shadow: 0 0 8px rgba(255, 0, 255, .9);
}

.md-modal {
    position: fixed;
    z-index: 10002;
    top: 50%;
    left: 50%;
    display: none;
    visibility: hidden;
    width: 90%;
    min-width: 150px;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, .15), 0 2px 6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, .15), 0 2px 6px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, .15), 0 2px 6px rgba(0, 0, 0, .15);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.md-modal.md-draggable {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}

.md-title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.md-show {
    display: block;
    visibility: visible;
}

.md-overlay {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    display: block;
    visibility: visible;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    opacity: 1;
    background: rgba(0, 0, 0, .15);
}

.md-content {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    color: #000;
    border-radius: 5px;
    background: #fff;
}

.md-body {
    font-size: 13px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.md-footer {
    margin: 0;
    padding: 0;
    text-align: right;
    border-radius: 5px;
    background: #fff;
}

.md-body input[type=text],
.md-body textarea {
    font-size: 14px;
    line-height: 1.7;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 63px;
    margin: 0;
    padding: 20px;
    border-collapse: collapse;
    letter-spacing: 1px;
    color: #000;
    border: none;
    border-bottom: #eaeaea 1px solid;
    background-color: #fff;
    background-image: none;
}

.md-body select {
    font-size: 14px;
    line-height: 1.7;
    height: 35px;
    margin: 0 0 10px;
    padding: 5px;
    letter-spacing: 1px;
    color: #454545;
    border: none;
    border-radius: 5px;
    background: #eee;
}

.md-body select option {
    background: #fff;
}

.md-body .inpchk {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.7;
    float: left;
    box-sizing: border-box;
    height: 63px;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
}

.md-modal button {
    font-size: 11px !important;
    line-height: 1.7;
    margin: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    color: #000;
    border: none;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ddd;
}

.md-footer button {
    width: 100%;
    padding: 19px;
}

.md-modal button:hover {
    background-color: #d9d9d9;
}

.md-modal button.primary {
    width: 70%;
    border-bottom-left-radius: 0;
}

.md-modal button.secondary {
    width: 30%;
    border-bottom-right-radius: 0;
    background: #f9f9f9;
}

.md-modal button.primary:hover {
    background-color: #d9d9d9;
}

.md-modal button.secondary:hover {
    background-color: #f5f5f5;
}

.md-label {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 63px;
    float: left;
    box-sizing: border-box;
    width: 30%;
    height: 63px;
    padding: 0 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333;
    border-top-left-radius: 5px;
    background: #f7f7f7;
}

.md-btnbrowse {
    font-size: 15px;
    line-height: 1.7;
    float: left;
    box-sizing: border-box;
    height: 63px;
    padding-top: 20px;
    cursor: pointer;
    text-align: center;
    color: #aaa;
    background: #efefef;
}

#md-imageselect,
#md-fileselect {
    z-index: 10005;
}

.rte-pop button.md-pick {
    display: inline-block;
    width: 27px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    border: none;
}

.md-pickpara {
    display: block;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.md-pickpara * {
    line-height: 0 !important;
    margin: 0 !important;
}

.md-picksize {
    display: block;
    box-sizing: border-box;
    width: 170px;
    min-height: 40px;
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.md-picksize * {
    line-height: 0 !important;
    margin: 0 !important;
}

::-moz-selection {
    color: #fff;
    background: rgb(255, 156, 38);
}

::selection {
    color: #fff;
    background: rgb(255, 156, 38);
}

#btnInsertPlh,
#btnDelRowCancel,
#btnDelRowOk,
#btnDelTableCancel,
#btnDelTableOk,
.md-pick-tag {
    font-size: 11px;
    font-weight: normal;
    line-height: 35px;
    display: inline-block;
    height: 35px;
    margin-bottom: 0;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
}

#btnInsertPlh,
#btnDelRowCancel,
#btnDelTableCancel {
    color: #333;
    background-color: #d3d3d3;
}

#btnInsertPlh:hover,
#btnDelRowCancel:hover,
#btnDelTableCancel:hover,
.md-pick-tag:hover {
    color: #111;
    border-color: #ccc;
    background-color: #ccc;
}

#btnDelRowOk {
    color: #fff;
    background-color: #08c9b9;
}

#btnDelRowOk:hover {
    color: #fff;
    border-color: #07b0a2;
    background-color: #07b0a2;
}

#btnDelTableOk {
    color: #fff;
    background-color: #08c9b9;
}

#btnDelTableOk:hover {
    color: #fff;
    border-color: #07b0a2;
    background-color: #07b0a2;
}

#btnCleanColor {
    background: #fff;
}

#divCustomTags {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 287px;
}

.md-pick-tag {
    height: 40px;

    border-radius: 0;
}

.custom-block {
    min-height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

    background: #eaeaea;
}

a.is-lightbox {
    cursor: pointer;
}

.ui-draggable > div:first-child i.icon:hover {
    cursor: pointer;
}

.ui-draggable > div:first-child i.icon-ok:hover {
    cursor: pointer;
}

.ui-draggable > div:first-child i.icon-quote:hover {
    cursor: pointer;
}

.md-tabs {
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    border-bottom: rgba(152, 152, 152, .19) 1px solid;
}

.md-tabs > * {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0 5px;
    padding: 3px 20px;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, .88);
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
}

.md-tabs > .active {
    cursor: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, .95);
    background: rgba(0, 0, 0, .88);
}

.cp-color-picker {
    z-index: 100000;
}

/*tinyColorPicker*/
#inpTextColor,
#inpCellBgColor,
#inpCellTextColor,
#inpCellBorderColor {
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    height: 36px;
    margin: 0;
    padding: 2px 7px;
    border: #dcdcdc 1px solid;
}

.rte-pop input[type=text],
.rte-pop textarea {
    font-size: 14px;
    line-height: 1.7;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 63px;
    margin: 0;
    padding: 20px;
    border-collapse: collapse;
    letter-spacing: 1px;
    color: #000;
    border: none;
    border-bottom: #eaeaea 1px solid;
    background-color: #fff;
    background-image: none;
}

.rte-pop select {
    font-size: 14px;
    line-height: 1.7;
    height: 35px;
    margin: 0 0 10px;
    padding: 5px;
    letter-spacing: 1px;
    color: #454545;
    border: none;
    border-radius: 5px;
    background: #eee;
}

.rte-pop select option {
    background: #fff;
}

.rte-pop .inpchk {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.7;
    float: left;
    box-sizing: border-box;
    height: 63px;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
}

#rte-toolbar button.on {
    background-color: #eee;
}

.rte-pop button.on {
    background-color: #eee;
}

#md-createlink .md-modal-handle {
    border-bottom: #eee 1px solid;
}

.md-browse {
    width: 100%;
    border-bottom: #eee 1px solid;
    background: #fff;
}

.md-drop-area {
    position: relative;
    margin: 0 20px 20px;
    border: 2px dashed #b4b4b4;
}

.md-preview-area {
    display: none;
    text-align: center;
}

.md-preview-area div {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.md-preview-area div i {
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
    text-align: center;
    color: #f41818;
    background: rgba(255, 255, 255, .8);
}

#fileInsertImage {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    outline: none;
}

.drag-text p {
    padding: 60px 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.image-dropping,
.md-drop-area:hover {
    background-color: #f7f7f7;
}

#imgInsertImagePreview {
    max-width: 200px;
    max-height: 200px;
}

.table-insert tr td {
    font-size: 12px;
    padding: 7px 8px;
    cursor: pointer;
    text-align: center;
    border-right: #ccc 1px dotted;
    border-bottom: #ccc 1px dotted;
}

.table-insert td.highlight {
    color: #fff;
    background: #3279d2;
}

table.default td {
    border: #ccc 1px dashed;
}

#md-edittable .md-body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 2.7;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#divTableDesign > div,
#divTableLayout > div {
    margin: 10px 20px;
}

#divTableLayout button {
    padding: 12px;
}
