{% extends '@SonataAdmin/Form/form_admin_fields.html.twig' %}

{% block form_widget %}
   {{ block('form_widget_simple') }}

    {% if form.vars.sonata_admin.admin.subject.seo.url %}
        <br>
        <a href="{{ form.vars.sonata_admin.admin.subject.seo.url }}" target="_blank" class="btn btn-primary">View page</a>
    {% endif %}
{% endblock %}
