{% block sonata_type_immutable_array_widget %}
    {% spaceless %}
        {%- set attr = attr|merge({'class': 'well'}) -%}

        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}

            {% for key, child in form %}
                {{ block('sonata_type_immutable_array_widget_row') }}
            {% endfor %}

            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}
