<div class="row">
    <div class="col-12">
        <h1 data-fixture>Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p data-fixture>
            Textarea
        </p>
    </div>

    <div class="col-4">
        <div data-editable>
        </div>
    </div>
</div>
