<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 data-fixture>Title</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <p data-fixture>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur debitis deleniti dolor doloribus error eveniet ipsum laboriosam magnam necessitatibus nemo nobis provident, quaerat. Eaque laudantium nostrum recusandae rerum veniam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur debitis deleniti dolor doloribus error eveniet ipsum laboriosam magnam necessitatibus nemo nobis provident, quaerat. Eaque laudantium nostrum recusandae rerum veniam!
            </p>
        </div>

        <div class="col-4">
            <p data-fixture>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur debitis deleniti dolor doloribus error eveniet ipsum laboriosam magnam necessitatibus nemo nobis provident, quaerat. Eaque laudantium nostrum recusandae rerum veniam!
            </p>
        </div>
    </div>
</div>
