<div class="col-12">
    <h2 class="mt-5 mb-4" data-fixture>Lorem ipsum</h2>
</div>

<div class="col-12 col-lg-6">
    <div data-editable>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur ducimus harum iusto, odit praesentium sunt velit! Ab, animi, consequuntur, culpa deleniti dolores facilis in natus placeat repellat ullam vel.</p>

        <p class="mb-0">Dimension : 0x0x0 cm</p>

        <p>Poids : </p>

        <p class="mb-0">Detail :</p>

        <ul>
            <li>Sample</li>
            <li>Sample</li>
            <li>Sample</li>
        </ul>

        <p>Valeur : <span class="fs-22">0 &euro;</span></p>
    </div>
</div>
