{% import _self as macros %}

{% block menu %}
    <ul>
        {{ macros.menu_links(menu) }}
    </ul>
{% endblock %}

{% macro menu_links(menu) %}
    {% import _self as macros %}

    {% for child in menu %}
        <li>
            {% if child.url is defined and child.url is not null %}
                {% set target = child.url %}
            {% endif %}

            {% if child.route is defined and child.route.name is not null %}
                {% set target = path(child.route.name) %}
            {% endif %}

            {% if target is defined %}
                <a href="{{ target }}">{{ child.name }}</a>
            {% endif %}

            {% if child.children %}
                <ul>
                    {{ macros.menu_links(child.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
