/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

.ct-widget.ct-ignition--ready .ct-ignition__button {
    display: none;
}

#krg_cms_widgets_add_block {
    display: none;
    width: 100%;
    position: relative;
    border-bottom: 1px dashed #ccc;
    margin-top: 50px;
}

#krg_cms_widgets_add_block.open {
    display: block;
}

#krg_cms_widgets_add_block button {
    padding: 4px 18px 0px;
    background-color: #007AFC;
    color: #fff;
    font-weight: bold;
    border-radius: 100%;
    font-size: 2rem;
    left: -70px;
    top: -27px;
    cursor: pointer;
    position: absolute;
    outline: 0;
    border: 1px solid transparent;
    transition: all 100ms linear;
}

#krg_cms_widgets_add_block button:hover {
    background-color: #0b62fc;
}

/* Image */
.ct-widget.ct-dialog.ct-image-dialog {
    height: auto;
}

.ct-image-dialog .ct-dialog__body {
    padding-bottom: 20px;
}

.ct-image-dialog .ct-image-dialog__view {
    display: none;
}

.ct-image-dialog .ct-control-group--right,
.ct-image-dialog .ct-control-group--right .ct-control--upload {
    width: 100%;
}

[data-editable] .ce-element--type-image {
    max-width: 100%;
    height: auto;
    display: inherit;
    z-index: 0;
}

.cms-block.ghost {
    border-left: 3px solid #007AFC;
    background: #efefef;
    padding-left: 30px;
    margin-left: -33px;
}

.img-fluid {
    width: 100%;
    height: auto;
    display: inline;
}

div[data-editable] {
    height: 100%;
}
